@model IEnumerable<OrderPlatform.Models.OrderIndexModel>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div>
    <a class="btn btn-primary" href="~/Order/Edit/0" role="button">Create new order</a>
</div>

<br />

<table class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr class="btn-primary">
            <th>@Html.DisplayNameFor(m => m.id)</th>
            <th>@Html.DisplayNameFor(m => m.date)</th>
            <th>@Html.DisplayNameFor(m => m.username)</th>
            <th>@Html.DisplayNameFor(m => m.state)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id</td>
                <td>@m.date</td>
                <td>@m.username</td>
                <td>@m.state</td>
                <td><a href="~/Order/Edit/@m.id">Edit</a></td>
                <td><a href="~/Order/Delete/@m.id" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a></td> @*//onlick is a javascript event that in this case triggers a popup choice of confirmation//*@
            </tr>
        }
    </tbody>
</table>