@model IEnumerable<OrderPlatform.Models.OrderIndexModel>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<table>
    <tr>
        <th style="width:65%;">Create new Order</th>
        <th style="width:10%;">Insert first date</th>
        <th style="width:10%;">Insert last date</th>
        <th style="width:2%;">Find</th>
    </tr>
    <tr>
        <td><a class="btn btn-primary" href="~/Order/Edit/0" role="button">Create new order</a></td>
        <td><input class="form-control" style="width: 90%;" type="text" /></td>
        <td><input class="form-control" style="width: 90%;" type="text" /></td>
        <td><a class="btn btn-primary" href="~/Order/Edit/0" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
</svg></a></td>
    </tr>
</table>

<br />

<table class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr class="btn-primary">
            <th>@Html.DisplayNameFor(m => m.id)</th>
            <th>@Html.DisplayNameFor(m => m.date)</th>
            <th>@Html.DisplayNameFor(m => m.username)</th>
            <th>@Html.DisplayNameFor(m => m.state)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id</td>
                <td>@m.date</td>
                <td>@m.username</td>
                <td>@m.state</td>
                <td><a href="~/Order/Edit/@m.id">Edit</a></td>
                <td><a href="~/Order/Delete/@m.id" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a></td> @*//onlick is a javascript event that in this case triggers a popup choice of confirmation//*@
            </tr>
        }
    </tbody>
</table>

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Database Data"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    { y: @ViewBag.quantitiesList[0], label: "Orders", color: "#0275d8" },
                    { y: @ViewBag.quantitiesList[3], label: "Products", color: "#f0ad4e" },
                    { y: @ViewBag.quantitiesList[2], label: "States", color: "#d9534f" },
                    { y: @ViewBag.quantitiesList[4], label: "Warehouses", color: "#5cb85c" },
                    { y: @ViewBag.quantitiesList[1], label: "Users", color: "#5bc0de" }
                ]
            }]
        });
        chart.render();

    }
</script>