@model IEnumerable<OrderPlatform.Models.WarehouseModel>

@{
    ViewBag.Title = "Warehouses";
}

<h2>Warehouses</h2>

<div>
    <a class="btn btn-success" href="~/Warehouse/Edit/0" role="button">Create new warehouse</a>
</div>

<br />

<table class="table table-bordered table-responsive table-condensed">
    <thead>
        <tr class="btn-success">
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    <a href="~/Warehouse/Edit/@item.id">Edit</a>
                </td>
                <td>
                    <a href="~/Warehouse/Delete/@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
